{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="section-title text-center">
        <h3>Виды Продукции</h3>
    </div>
    <div class="col-md-10 col-md-offset-1">
        {% for item in items %}
            <div class="row">
                <div class="col-md-3">
                    <a href='{% url "kinds_delete" pk=item.pk %}'>
                        <button type="button" class="btn btn-primary btn-sm">Удалить</button>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href='{% url "kinds_update" pk=item.pk %}'>
                        <button type="button" class="btn btn-primary btn-sm">Изменить</button>
                    </a>
                </div>
                <div class="col-md-3">{{ item.title }}<img  src={{ item.photo.url }} alt=""></div>
            </div>
            <hr/>
        {% endfor %}
        <div class="row">
            <div class='col-md-6 centered'>
                <a href='{% url 'kinds_add' %}'>
                    <button type="button" class="btn btn-primary btn-sm">
                        Новая категория
                    </button>
                </a>
            </div>
        </div>
        <hr/>
    </div>
</div>
{% endblock %}